---
const { platform, username, link } = Astro.props;
const url =
  link ?? (platform.toLowerCase() === "linkedin" ? `https://www.${platform}.com/in/${username}` : `https://www.${platform}.com/${username}`);
const src = platform ? `/${platform.toLowerCase()}_icon.png` : undefined;
const alt = platform ? `${platform} logo` : undefined;
---

<style>
  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo-images {
    padding-right: 5px;
  }
</style>

<p class="logo-container">
  <img src={src} width="25px" height="25px" alt={alt} class="logo-images" />
  <a href={url} target="_blank">{platform}</a>
</p>
